body{
    background-image: url(./imagens/slenderman-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    margin-top: 1px;
    text-align: center;
    font-size: 80px;
    color: rgb(107, 10, 10);
    text-shadow: 10px 10px 10px black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Lacquer', cursive;
}
span{
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.445);
}
h3{
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.582);
    text-shadow: 7px 6px 10px whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

p{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px whitesmoke;
    font-size: 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.383);
    font-family: 'Roboto Mono', monospace;
}
button{
    width: 202px;
    height: 56px;
    font-size: 30px;
}
.botão{
    text-align: center;
}
.play{
    background-color: rgba(255, 0, 0, 0.184);
    border-radius: 20px;
    border: solid 2px black;
}
.read{
    background-color: rgba(255, 255, 255, 0.247);
    border: none;
    border-radius: 20px;
    border: solid 2px black;
    
}

a{
    text-decoration:none;
    text-shadow: 5px 5px 10px whitesmoke;
    font-family: 'Roboto Mono', monospace;
}
